* {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
}

main {
  max-width: 1400px;
  margin: 0 auto 40px;
}

/*navigation*/
nav {
  background-color: #d8d8d8;
  display: flex;
  font-weight: 900;
  font-size: 20px;
  padding: 8px 0;
}

.menu-item {
  padding: 0 80px;
  text-decoration: none;
  color: #000000;
  transition: 0.3s linear;
}

.menu-item:hover {
  color: #ffffff;
}

.nav-item-active {
  color: #ffffff;
}

.menu-item:first-child {
  border-right: 1px solid black;
}

/*search and pagination*/
.search-pagination {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.search > input {
  outline: none;
  border: none;
  background-color: #d8d8d8;
  padding: 4px 10px;
  width: 250px;
  color: #000000;
}

.search > input::placeholder {
  color: #4d4d4d;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination > span {
  display: flex;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
}

.pagination > span.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.pagination img {
  width: 30px;
}

.pagination img:first-child {
  margin-right: 10px;
}

.pagination img:last-child {
  margin-left: 10px;
}

/* users list */
.users-list {
  margin: 20px 0;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.user-item {
  padding: 10px 30px;
  background-color: #4ea2a4;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.user-item > .avatar-box {
  border: 6px solid #727272;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

.user-item > .avatar-box img {
  width: 100%;
}

.user-item > p {
  margin-top: 5px;
}

/* user page */
.back-arrow {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  color: #4d4d4d;
}

.back-arrow img {
  width: 30px;
  margin-right: 10px;
}

.user-profile {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 4fr;
  margin: 20px 0;
}

.user-about {
  background-color: #4ea2a4;
  padding: 20px 30px;
}

/* repositories list */
.repositories-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repos-list {
  margin: 20px 0;
}

.repos-list > div {
  background-color: #4ea2a4;
  margin-bottom: 20px;
  padding: 8px;
}
